extends layout

block content
	section
		header: h1 分類瀏覽
		each field in distinctFields
			article
				header: h2: a(name=field)= fields[field].title
				ul
					each term in fields[field].options
						li= term
